<h3>Back 9: Beginner Golfers</h3><br>
The <i><b>Back 9</b></i> is designed for the golfer with a bit of experience; 
whether from instruction, driving range, or just being around the game.
Students will learn the fundamentals of the full swing, putting and chipping.
This class is designed as a follow-up for students who have taken the "Front 9" 
program or have played golf before. 